header{
    background-color: rgba(11, 86, 32, 0.804);
    height: 200px;
}
header img{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    border-radius: 50%;
    padding-top: 12px;
}
body{
    background-color: rgb(248, 219, 174);
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    
}
header nav ul li{
    padding: 20px;
   
}
header nav ul li a{
    text-decoration: none;
    color: rgb(244, 244, 165);

}
#container{
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 20px;
    
}
#container img{
    width: 500px;
    height: 500px;
}
.content{
    background-color: rgba(235, 124, 111, 0.53);
    border-radius: 10%;
}
.content button{
    background-color: rgba(28, 255, 145, 0.804);
    align-items: end;
    
}
#container h1{
    font-family: cursive;
    font-size: 30px;
    color: #4d3d20;

}
footer{
    font-family: cursive;
    color: rgb(244, 226, 201);
    bottom: 0;
    
    background-color: rgb(33, 18, 15);
    position: fixed;
}